MAIL_HOST=ws8.angoweb.net
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM="Octávio Neto | CCIE #70243 <recrutamento@idsolucoes.ao>"
NOTIFY_EMAILS=diogo.luis.job@hotmail.com,octaviosilvaneto@hotmail.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_PASSWORD=
ADMIN_SECRET=
